@model IEnumerable<InstallationModel>

@inject IViewLocalizer _localizer;

@{
    ViewData["Title"] = _localizer[Resources.Views.Installation.Index.Installations];
}

<h2>@_localizer[Resources.Views.Installation.Index.AllInstallations]</h2>

<div class="py-2">
    <a href="@Url.Action(Controllers.HomeController.Actions.Index, Controllers.HomeController.Name)" class="btn btn-secondary"><i class="fa-solid fa-circle-chevron-left"></i> @_localizer[Resources.Views.Installation.Index.Back]</a>
    <a href="@Url.Action(Controllers.InstallationController.Actions.Create, Controllers.InstallationController.Name)" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> @_localizer[Resources.Views.Installation.Index.CreateInstallation]</a>
</div>

<div class="row bg-dark py-3 fw-bold">
    <div class="col-2">
        @_localizer[Resources.Views.Installation.Index.Id]
    </div>
    <div class="col-3">
        @_localizer[Resources.Views.Installation.Index.Name]
    </div>
    <div class="col-3">
        @_localizer[Resources.Views.Installation.Index.LocationId]
    </div>
    <div class="col-3">
        @_localizer[Resources.Views.Installation.Index.NumberUsersWithAccess]
    </div>
</div>
@foreach (InstallationModel installation in Model)
{
    @await Html.PartialAsync("_InstallationEntry", installation)
}