@model Models.CreateUserModel

@inject IViewLocalizer _localizer;


@{
    ViewData["Title"] = _localizer[Resources.Views.User.Create.CreateUser];
}

@using (Html.BeginForm(Controllers.UserController.Actions.Create, Controllers.UserController.Name, FormMethod.Post))
{
    @for (int rIdx = 0; rIdx < Model.AvailableRoles.Count; rIdx++)
    {
        @Html.HiddenFor(m => m.AvailableRoles[rIdx].Id);
        @Html.HiddenFor(m => m.AvailableRoles[rIdx].Name);
    }

    <div class="row justify-content-center">
        <div class="col col-sm-7 col-md-6 col-lg-5">
            <div class="row">
                <div class="col">
                    <h2>@_localizer[Resources.Views.User.Create.CreateUser]</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @_localizer[Resources.Views.User.Create.Username]
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @_localizer[Resources.Views.User.Create.Password]
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @_localizer[Resources.Views.User.Create.Role]
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.DropDownListFor(m => m.RoleId, Model.AvailableRoles.Select(r => new SelectListItem(r.Name, r.Id.ToString())), new { @class = "form-control" })
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="@_localizer[Resources.Views.User.Create._Create]" />
                    <a href="@Url.Action(Controllers.UserController.Actions.Index, Controllers.UserController.Name)" class="btn btn-secondary">@_localizer[Resources.Views.User.Create.Cancel]</a>
                </div>
            </div>
        </div>
    </div>
}
