@model HistoryDataModel

@inject IViewLocalizer _localizer;

@{
    string uniqueId = "_" + System.Guid.NewGuid().ToString().Replace("-", "");
}

<div class="row justify-content-center">
    <div class="col col-md-8 py-3 position-relative d-flex justify-content-center bg-light bg-opacity-10 bg-gradient border-start border-end border-bottom rounded-bottom">
        <canvas id="@(uniqueId)_historyChart"></canvas>
        @if (Model.HistoryData == null || !Model.HistoryData.Any())
        {
            <span class="position-absolute align-self-center">@_localizer[Resources.Views.Data._HistoryChartPartial.NoData]</span>
        }
    </div>
</div>
@if (Model.DeltaAnalysis != null)
{
    foreach (Models.DeltaAnalysis.IDeltaAnalysis deltaAnalysis in Model.DeltaAnalysis)
    {
        switch (deltaAnalysis)
        {
            case Models.DeltaAnalysis.ElectricityDeltaAnalysis:
                @await Html.PartialAsync("_ElectricityDeltaAnalysisPartial", deltaAnalysis)
                continue;
        }
    }
}

@if (Model.HistoryData != null && Model.HistoryData.Any())
{
    <script type="text/javascript">
        $(() => {
            const @(uniqueId)_historyChart = new Chart(
                $('#@(uniqueId)_historyChart'),
                getHistoryChartConfig('@(Model.GraphType.ToString())')
            );

            @(uniqueId)_historyChart.data.datasets[0].data = eval(@Html.Raw(Model.HistoryJson));
            @(uniqueId)_historyChart.update('none');
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(() => {
            const @(uniqueId)_historyChart = new Chart(
                $('#@(uniqueId)_historyChart'),
                getHistoryChartConfig()
            );
        });
    </script>
}
