@model UserModel

<div class="row border-bottom py-2">
    <div class="col-2 my-auto">
        @Model.Id
    </div>
    <div class="col-4 my-auto">
        @Model.Username
        <span class="badge rounded-pill bg-primary">@Model.RoleName</span>
    </div>
    <div class="col d-flex">
        <span class="align-self-center">@string.Join(", ", Model.AccessibleInstallations)</span>
        <a href="@Url.Action(Controllers.UserController.Actions.DeleteUser, Controllers.UserController.Name, new { id = Model.Id })" class="btn btn-danger ms-auto"><i class="fa-solid fa-trash"></i></a>
    </div>
</div>